# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Build output
dist
dist-ssr
build/Release
.next
out
.nuxt
.svelte-kit/
.vuepress/dist
**/.vitepress/dist

# Cache directories
.cache
.parcel-cache
.cache/
.temp
.nyc_output
.eslintcache
.stylelintcache

# Coverage
coverage
*.lcov

# Grunt storage
.grunt

# Optional npm cache
.npm

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional REPL history
.node_repl_history

# Output of npm pack
*.tgz

# Firebase
.firebase/

# DynamoDB
.dynamodb/

# Serverless
.serverless/

# FuseBox
.fusebox/

# TernJS
.tern-port

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local config files
*.local